
[submodule "src/PluginInterface"]
	path = src/PluginInterface
	url = git@github.com:moodyhunter/QvPlugin-Interface.git
[submodule "3rdparty/uvw"]
	path = 3rdparty/uvw
	url = https://github.com/skypjack/uvw
[submodule "3rdparty/libuv"]
	path = 3rdparty/libuv
	url = https://github.com/libuv/libuv
